<html>
    <body>
        <form action="/produtos" method="POST">
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" name="titulo" placeholder="Coloque o titulo do livro"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" placeholder="150.42"/>
            </div>
            <div>
                <label for="descricao">Descrição</label>
                <textarea cols="20" rows="10" id="descricao" name="descricao" placeholder="Coloque o titulo do livro"></textarea>
            </div>
            <input type="submit" value="gravar">
        </form>
    </body>
</html>